#mastfooter {
	background-color:$color-gray-light;

	ul li {
		color:white;
		a{
			font-size:11px;
		}
	}

	ul.footer-menu>li>a{
		color:$color-primary-light;
		font-size:13px;
		font-weight:700;
		display:inline-block;
		margin-top:7px;
	}

	.site-info{
		padding-top:40px;
		background-color: $footer-color;
		height: $footer-height;
	}

	#subfooter{
		color:white;
		height:50px;
		background-color:$color-gray-dark;
	}

} //end of mastfooter