//------General Formatting Rules-----

a:visited{
	color: inherit;
}

//general button settings
button.standard{
	font-family: $font-primary;
	font-weight: 300;
	text-align:center;
	letter-spacing:1px;
	font-size:15px;
	width:200px;
	padding:15px 0;
	background-color:$gray;
	box-shadow:none;
	border-radius:0;
	border:none;
	color:white;

	&:hover{
		box-shadow:none;
		background-color: $gray;
	}
}

//general text settings
h3{
	font-family: $font-primary;
	color:$gray;
	margin-bottom:0px;
	font-weight: 300;
	font-size: 24px;
	padding-bottom: 10px;
}

h2{
	font-family: $font-primary;
	margin-bottom:0px;
	margin-top: 0;
	padding:15px;
	background-color:$gray;
	color:white;
	text-align:center;
	font-size:28px;
}

p{
	font-size:16px;
	font-family:$font-secondary;
	font-weight:300;
}

a{
	color: white;
	text-decoration:none!important;
	outline: none !important;
	transition:0.2s all;
}

a:active, a:hover{
	text-decoration:none;
	color:$gray;
	transition:0.2s all;
}

ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}