//****HEADER****//
#masthead {
	
	//main menu
	.navbar{
		
		ul#primary-menu{
			
			//text formating for header menu items
			>li{
				a{
				
				}
			}

		}

		//The logo section
		.navbar-brand{
			padding:0;
			padding-top:15px;

			img{    
				
			}
		}

	} //end of navbar
} //end of mastheader

//Center menu items
@media (max-width: $screen-md-max) {
	.navbar-nav {
		text-align: center;
		.open {
			.dropdown-menu {
				text-align: center;
			}	
		}
	}	
}
