//****HEADER****//
#masthead {

	//The logo section
	.navbar-brand{
		
	}

	//formatting on current page
	.current_page_item a {
	
	}

	//
	.main-navigation {
		font-family: $font-secondary;
		color: $color-text;
		letter-spacing: 1px;
		
		//desktop navbar
		.navbar-nav {
		
			li {

				//styling for current page
				&.current_page_item a {
					
				}
			}

			.dropdown-menu {
				font-size: 0.7em;
				background-color: #333;
				letter-spacing: 1px;
				a {
					color: darken($color-gray-light, 15%);
				}
			}

		} // End of navbar-nav

		.open>a {
			background-color: inherit;
			
		}

	}  // End of main-navigation

} //end of mastheader


//Center menu items
@media (max-width: $screen-md-max) {
	.navbar-nav {
		text-align: center;
		.open {
			.dropdown-menu {
				text-align: center;
			}	
		}
	}	
}
