// Bootstrap Navbar Styles

.navbar-default, .navbar {
	background-color: inherit;
	border: none;
	color: inherit;
	border-radius: 0;
	margin-bottom: 0;
	padding: 10px 0;
}

.navbar-nav {
	padding: 5px 0 0 0;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: right;
	}
}