//Additional Custom Variables on top of WordPress

$color-primary: #0D9FB7;
$color-secondary: #7AC943;

$color-primary-light: #26D2DB;
$color-secondary-light: #46e6d5;
$color-primary-dark: #076684;
$color-secondary-dark: #139e83;

$color-highlight: #f8981d; //same as primary colour (try to get rid of this)
$color-text: #404040;
$color-gray-light: #e6e6e6;
$color-gray: #ccc;
$color-gray-dark: #4b4b4b;

$font-primary: "Lato";
$font-secondary: "Average";

$footer-height: 120px;
$footer-color: #4F504F;
$check-size:35px; //for the checklist formatting

//Standard max width values
    //USE BOOTSTRAP VARIABLE SETTINGS