//Add base theme colours here


//Add base fonts here
$font-primary: "Lato";
$font-secondary: "Average";

$footer-height: 120px;
$footer-color: #4F504F;

//Standard max width values
    //USE BOOTSTRAP VARIABLE SETTINGS