@import "subsections/general"; //for defining site-wide styling
@import "subsections/header"; //Header CSS
@import "subsections/footer"; //Footer CSS

//Import your additional sheets here
@import "subsections/homepage"; //homepage styling

//Include your custom fonts (if they can't be added in functions.php)

@font-face {
	font-family: 'Lato-Light';
	src: url("fonts/Lato-Light.ttf");
}

@font-face {
	font-family: 'Lato';
	src: url("fonts/Lato-Regular.ttf");
}

