$color-primary: #f8981d;
$color-secondary: #1fc0af;

$color-primary-light: #fcb146;
$color-secondary-light: #46e6d5;
$color-primary-dark: #ec8a22;
$color-secondary-dark: #139e83;

$color-highlight: #f8981d; //same as primary colour (try to get rid of this)
$color-text: #4b4b4b;
$color-gray-light: #f2f2f2;
$color-gray: #ddd;
$color-gray-dark: #4b4b4b;

$font-primary: "Petit Formal Script";
$font-secondary: "Lato";

$footer-height: 250px;
$check-size:35px; //for the checklist formatting

//Standard max width values
$breakpoint-m: 767px; //use for max-width (m stands for mobile)
$breakpoint-mt: 991px; //use for max-width (mt stands for mobile-tablet)
$breakpoint-mtd:1199px; //use for max-width (mtd stands for mobile-tablet-desktop)

//Standard min-width values
$breakpoint-d-only:992px; //use for min-width (desktop only)
$breakpoint-td-only:768px; //use for min-width (tablet and desktop only)
